{% extends 'Main_template/__MAIN_tamplate.html' %}
{% load static %}


{% block content %}

<div class="contant">
<div id="banner-part" class="banner inner-banner">
<div class="container">
<div class="bread-crumb-main">
<h1 class="banner-title">ثبت نهایی</h1>
<div class="breadcrumb">
<ul class="inline">
<li><a href="/ ">خانه</a></li>
<li><a href="{% url 'shopping_cart:carts' %}">سبد خرید</a></li>
<li>ثبت نهایی</li>
</ul>
</div>
</div>
</div>
</div>
<div class="checkout-part ptb-100">
<div class="container">
<form class="main-form">
<div class="row">
<div class="col-12 col-lg-8">
<div class="mb-md-30">
<div class="mb-60">
<div class="row">
<div class="col-12">
<div class="heading-part mb-30 mb-sm-20">
<h3>مشخصات مشتری</h3>
</div>
</div>
</div>
<div class="row">
<div class="col-12">
<div class="form-group">
<label for="full-name">نام و نام خانوادگی*</label>
{{ form.fullname }}
</div>
</div>
<div class="col-12">
<div class="form-group">
<label for="email">آدرس ایمیل (اختیاری)</label>
{{ form.email }}
</div>
</div>
<div class="col-12">
<div class="form-group">
<label for="phone-no">تلفن *</label>
{{ form.phone }}
</div>
</div>
<div class="col-12">
<div class="form-group">
<label for="address">آدرس*</label>
{{ form.address }}
</div>
</div>
<div class="col-md-6 col-12">
<div class="form-group">
<label for="zip">کد پستی*</label>
{{ form.post_code }}
</div>
</div>
<div class="col-md-6 col-12">
<div class="form-group">
<label for="city">شهر و استان*</label>
{{ form.city }}
</div>
</div>
</div>
</div>
<div class="row">
<div class="col-12">
<div class="heading-part mb-30">
</div>
</div>
</div>

</div>
</div>
<div class="col-12 col-lg-4">
<div class="heading-part mb-30 mb-sm-20">
<h3>اقلام سفارش ما</h3>
</div>
<div class="checkout-products sidebar-product mb-60">
<ul>
    {% for basket in orderDitails %}
<li>
 <div class="pro-media"> <a href="{{ basket.product.get_absolute_url }}"><img alt="product" src="{{ basket.product.product_image.url }}"></a> </div>
<div class="pro-detail-info"> <a href="{{ basket.product.get_absolute_url }}" class="product-title">{{ basket.product.product_name }}</a>
<div class="price-box">
         {% if basket.product.product_type == 'discount'%}
                                                    <span class="price"> تومان{{ basket.product.discount }}</span>
                                                    {% else %}
                                                    <span class="price"> تومان{{ basket.product.product_price }}</span>
                                                {% endif %}
</div>
<div class="checkout-qty">
<div>
<label>تعداد </label>
    <span class="info-deta"> {{ basket.count }}</span>
</div>
</div>
</div>
</li>
    {% endfor %}
</ul>
</div>
<div class="complete-order-detail commun-table gray-bg mb-30">
<div class="table-responsive">
<table class="table m-0">
<tbody>
<tr>
<td><b>تاریخ</b></td>
<td>{{ date }}</td>
</tr>
<tr>
<td><b>مبلغ کل</b></td>
<td><div class="price-box"> <span class="price">{{ total }} تومان</span> </div></td>
</tr>
<tr>
<td><b>روش پرداخت</b></td>
<td>درب منزل</td>
</tr>
<tr>
<td><b>شماره سفارش</b></td>
<td>#923{{ order.id }}</td>
</tr>
</tbody>
</table>
</div>
</div>
<button class="btn full btn-color">ثبت سفارش</button>
</div>
</div>
</form>
</div>
</div>
</div>



{% endblock %}

