{% load static %}

<div class="megamenu full mobile-sub-menu">
                                    <div class="megamenu-inner-top">
                                        <div class="row sub-menu-level1">
                                             {% for collectss in collect_main %}
                                            <div class="col-lg-3 level2 "> <a href="/list_view/men_main/{{ collectss.name_collect_product_main }}"><span>{{ collectss.title_collect_product_main }}</span></a>
                                                <ul class="sub-menu-level2">
                                                    {% for collects in collect %}z

                                                    <li class="level3"><a href="/list_view/men/{{ collects.name_collect_product }}"><span>■</span>{{ collects.title_collect_product }}</a></li>

                                                    {% endfor %}

                                                </ul>
                                            </div>
                                             {% endfor %}

                                        </div>
                                        <div class="row">
                                            <div class="col-lg-6 mt-30 d-none d-lg-block">
                                                <div class="sub-menu-img">
                                                    <a href="{% static 'shop.html' %}">
                                                    <img src="{% static 'images/drop_banner1.jpg' %}" alt="">
                                                    </a>
                                                </div>
                                            </div>
                                            <div class="col-lg-6 mt-30 d-none d-lg-block">
                                                <div class="sub-menu-img">
                                                    <a href="{% static 'shop.html' %}">
                                                    <img src="{% static 'images/drop_banner2.jpg' %}" alt="">
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>