{% extends 'Main_template/__MAIN_tamplate.html' %}

{% block content %}

<div class="contant">
<div id="banner-part" class="banner inner-banner">
<div class="container">
<div class="bread-crumb-main">
<h1 class="banner-title">500 - ارتباط با سرور قطع شده است</h1>
<div class="breadcrumb">
<ul class="inline">
<li><a href="/">خانه</a></li>
<li>500</li>
</ul>
</div>
</div>
</div>
</div>
<div class="error-part align-center ptb-100">
<div class="container">
<div class="main-text">500</div>
<h2 class="mb-30">500 - ارتباط با سرور قطع شده است</h2>
<a href="/" class="btn btn-color">صفحه اصلی</a>
</div>
</div>
</div>



{% endblock %}