{% extends 'Main_template/__MAIN_tamplate.html' %}
{% load static %}


{% block content %}

<div class="contant">
    <div id="banner-part" class="banner inner-banner">
        <div class="container">
             <div class="bread-crumb-main">
                <h1 class="banner-title">ورود اعضا</h1>
                 <div class="breadcrumb">
                     <ul class="inline">
                        <li><a href="/">خانه</a></li>
                        <li>ورود اعضا</li>
                     </ul>
                 </div>
             </div>
        </div>
    </div>
    <div class="ptb-100">
        <div class="container">
             <div class="row justify-content-center">
                <div class="col-xl-6 col-lg-8 col-md-8 ">
                    <form class="main-form full" method="post">
                        {% csrf_token %}
                         <div class="row">
                                <div class="col-12 mb-20">
                                    <div class="heading-part align-center">
                                    <h2 class="heading">ورود اعضا</h2>
                                    </div>
                                </div>
                             {% if massage is not None %}
                                 <div class="alert alert-success" role="alert">
                                     {{ massage }}
                                 </div>

                             {% endif %}
                                <div class="col-12">
                                    <div class="form-group">
                                        <label  class="form-label"><h4></h4></label>



                                        <label for="{{form.username.id_for_lable}}">{{ form.username.label }} </label>
                                            {{ form.username }}
                                                {% for error in form.username.errors %}

                                                    <div id="login-email" class="form-text text-danger"><p>{{ error }}</p></div>

                                                {% endfor %}

                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="form-group">
                                        <label for="{{form.password.id_for_lable}}">{{ form.password.label }}</label>
                                        {{ form.password }}
                                         {% for error in form.password.errors %}

                                                    <div id="emailHelp" class="form-text text-danger"><p>{{ error }}</p></div>

                                          {% endfor %}

                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="mb-30 dit w-100">
                                        <div class="check-box left-side mt-15">
                                            <span>
                                                <input type="checkbox" name="remember_me" id="remember_me" class="checkbox">
                                                <label for="remember_me" class="mb-0">مرا بخاطر بسپار</label>
                                            </span>
                                        </div>
                                        <button name="submit" type="submit" class="btn-color right-side">ورود</button>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <hr>
                                    <div class="align-center mt-20">
                                        <a title="Forgot Password" class="link forgot-password mtb-20" href="{% url 'account:password_reset' %}">رمز عبور را فراموش کردید ؟</a>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="new-account align-center mt-20"> <span>حساب کاربری ندارید ؟</span>
                                        <a class="link" title="ثبت نام کنید" href="{% url 'account:register' %}">ثبت نام کنید</a>
                                    </div>
                                </div>
                         </div>
                     </form>
                </div>
             </div>
        </div>
    </div>
</div>

{% endblock %}
